.category__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.category__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    z-index: 100;
}
.category__item {
    width: max-content;
    min-width: 85px;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #a259ff;
    background-color: #1a1d56;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.category__item-active {
    background-color: #a259ff;
    font-weight: 500;
}
.category__item-active:hover {
    background-color: #7d3cd3 !important;
    border: 1px solid #7d3cd3 !important;
}
.category__item:hover {
    background-color: #a259ff;
}
.dropdown {
    width: 140px;
    position: relative;
    color: white;
    border-radius: 8px;
    background-color: #a259ff;
}
.dropdown__select {
    border-radius: inherit;
    font-weight: 500;
}
.dropdown__selected {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dropdown__list {
    margin-top: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}
.dropdown__list:before {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}
.dropdown:hover .dropdown__list {
    display: block;
}
.dropdown__select,
.dropdown__item {
    width: 100%;
    padding: 12px 15px;
    background-color: #a259ff;
    cursor: pointer;
}
.dropdown__item {
    transition: background-color 0.2s linear;
}
.dropdown__item:first-child {
    border-radius: 8px 8px 0 0;
}
.dropdown__item:last-child {
    border-radius: 0 0 8px 8px;
}
.dropdown__item:hover {
    background-color: #7d3cd3;
}
@media screen and (max-width: 820px) {
    .category__list {
        gap: 10px;
    }
}
